DB_USER=hardware_admin
DB_HOST=localhost
DB_NAME=hardware_db
DB_PASSWORD=your_secure_password
DB_PORT=5432
PORT=3000
DATABASE_URL="postgresql://postgres.hhpwsugebmmlwtzkavbk:Balihaar@1123@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"


